<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title"> Novo Produto </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="produto.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <select matNativeControl placeholder="Categoria" [(ngModel)]="produto.categoria" name="categoria">
                <option value="PERECIVEL">Perecível</option>
                <option value="NAOPERECIVEL">Não perecível</option>
            </select>
        </mat-form-field>
        <mat-form-field>
            <input type="number" ng-pattern="/^[0-9]+([,.][0-9]+)?$/" matInput placeholder="Valor"
                [(ngModel)]="produto.valor" maxlength="2" maxlength="15" name="valor">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="criarProduto()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancelar()">
        Cancelar
    </button>
</mat-card>